<!DOCTYPE html>
<html>
  <head>
    <title>Sandwichr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1> Sandwichr </h1>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <nav>
      <ul>
        <li> <%= link_to "Home", root_path %> </li>

        <% if user_signed_in? %>
          <li> <%= link_to "Sandwiches", sandwiches_path %> </li>
          <li> <%= link_to "Logout", destroy_user_session_path, method: "delete" %> </li>
        <% else %>
          <li> <%= link_to "Sign Up", new_user_registration_path %> </li>
          <li> <%= link_to "Login", new_user_session_path %> </li>
        <% end %>
      </ul>
    </nav>

    <%= yield %>

    <footer>
      <p> Made with &hearts; at Ironhack. </p>
    </footer>
  </body>
</html>
