<h1> Login </h1>


<% if flash[:need_to_login_message] %>
  <p class="need-to-login">
    <%= flash[:need_to_login_message] %>
  </p>
<% end %>


<%= form_tag "/login" do %>
  <div>
    <%= label_tag :email %>
    <%= email_field_tag :email %>
  </div>

  <div>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>

  <%= button_tag "Login" %>
<% end %>
