<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Timetracking</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>
        <a href="/">
          Tmtrckng
        </a>
      </h1>

      <%= render "blah/navigation" %>
      <!--                   |                 -->
      <!-- app/views/blah/_navigation.html.erb -->
    </header>

    <%= yield %>

    <footer>
      <p> Made with &hearts; at Ironhack. </p>
    </footer>
  </body>
</html>
