<h2> Project Details </h2>

<h3> <%= @my_project.name %> </h3>

<p> <%= @my_project.description %> </p>

<ul>
  <li> Id: <%= @my_project.id %> </li>
  <li> Created: <%= @my_project.created_at %> </li>
  <li> Updated: <%= @my_project.updated_at %> </li>
</ul>
